.post {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #9c7eee;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    animation: animate-in 1s ease-out forwards;
    width: 100%;
    height: 100%;
}

.author {
    font-size: 0.8rem;
    font-weight: bold;
    color: #543280;
    margin: 0;
    text-transform: uppercase;
}

.text {
    white-space: pre-wrap;
    font-size: 1.25rem;
    margin: 0.25rem 0 0 0;
    color: #593884;
    font-style: italic;
    height: 100px;
    overflow-y: hidden;
    padding-right: 8px;
    display: grid;
    place-items: center;
    overflow-wrap: break-word;
    word-break: break-all;
}

.text:hover {
    overflow-y: auto;  /* scrollbar aparece no hover */
    cursor: pointer;
}

.text::-webkit-scrollbar {
    width: 8px;  
}

.text::-webkit-scrollbar-track {
    background: #f5f5f5;  
    border-radius: 4px;
}

.text::-webkit-scrollbar-thumb {
    background: #9c7eee;  
    border-radius: 4px;  
}

.text::-webkit-scrollbar-thumb:hover {
    background: #7c5ecc;  
}


@keyframes animate-in {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}