.posts {
    /* height: 100vh; */
    list-style: none;
    /* max-width: 80rem; */
    margin: 1rem auto;
    padding: 1rem;
    display: grid;
    gap: 1em;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* justify-self: center; */
    justify-content: center;
    align-content: center;
    place-items: center;
}